.apiEndpoint {
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--ifm-leading);
  width: 100%;
}

.apiEndpoint dt, .apiEndpoint dd {
  border-top: 2px solid #ddd;
  padding: 1rem;
}

.apiEndpoint dt {
  width: 22%;
  font-weight: bold;
}

.apiEndpoint dd {
  width: 78%;
  margin: 0;
}

.apiEndpoint ul {
  list-style: square;
  margin: 0 0 0 1.25rem;
  padding-left: 0;
}

.endpoint {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
}

.paramDescription {
  font-size: 0.875rem;
}

.requiredParam {
  border-radius: 4px;
  border: 1px solid #d7dbe8;
  color: #8d919f;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  margin-left: 0.5rem;
  margin-top: -2px;
  padding: 0.1875rem 0.25rem;
  vertical-align: middle;
}

.type {
  color: var(--ifm-color-emphasis-700);
}

.type:before {
  content: "(";
}

.type:after {
  content: ")";
}
