.main {
  border: none;
  border-left: 0.5rem solid #f7c748;
  background-color: #ffe59e;
  padding: 1.5rem;
}

.main, .main a {
  color: #866719;
}

.main a {
  text-decoration: underline;
}

.main a:hover {
  color: #1c1e21;
}

.main h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.25rem 0 0.5rem;
  text-transform: none;
  line-height: 1;
}

.main strong {
  font-weight: 600;
}
