.badge {
  --badge-background: var(--custom-blue-background-color);
  --badge-color: var(--ifm-color-emphasis-700);

  --badge-hover-background: var(--custom-blue-background-color);
  --badge-hover-color: var(--ifm-color-emphasis-700);

  background: var(--badge-background);
  border-radius: 3px;
  color: var(--badge-color);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  margin: -3px 5px 0;
  padding: 4px 5px;
  transition: background 0.15s ease;
  vertical-align: middle;
}

.badge + .badge {
  margin-left: 0;
}

.staging {
  --badge-color: #b45309;
  --badge-background: #fef3c7;
  --badge-hover-color: #78350f;
  --badge-hover-background: #fde68a;
}

.production {
  --badge-color: #047857;
  --badge-background: #d1fae5;
  --badge-hover-color: #064e3b;
  --badge-hover-background: #a7f3d0;
}

.stable {
  --badge-color: #1e40af;
  --badge-background: #dbeafe;
  --badge-hover-color: #1e3a8a;
  --badge-hover-background: #bfdbfe;
}

a.badge:hover {
  background: var(--badge-hover-background);
  color: var(--badge-hover-color);
  text-decoration: none;
}


p .badge {
  margin-left: 0;
  margin-right: 0;
}
